form{
    display: inline-block;
    background-color: navajowhite;
    border-radius: 20px;
}

input{
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;    
  }

  label{
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

div{
    text-align:center;
    
}

h2{
    font-size: large;
    text-align: left;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    background-color:peru;
    border-style: dotted;
    border-radius: 20px;
}